<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>site event gaming</title>
</head>

<body>
    <h1>Le Site</h1>
    <form action="{{path('account')}}" method="post">
        <input type="submit" value="Mon Compte" />
    </form>
    <ul>
        <li>profil</li>
        <li>photo</li>
        <li>parametres</li>
        <li>deconnecter</li>
    </ul>
</body>

</html>